


body {
background-color: #ccc;

}

#container {

width: 960px;
margin: auto;

}

img {
max-width:200px;

}

nav ul li {
  display: inline;
  list-style: none;
  text-align: center;
}

nav ul li a {
  color: red;
}

a:hover {
  text-decoration: underline;}
